@font-face{
  font-family: 'YTSans';
  src: url(./assets/fonts/sans-medium.ttf)
}

#titlebar{
    display: flex;
    justify-content: space-between;
    background-color: #232323;
    border-radius: 20px;
    min-height: 80px;
    align-items: center;
    height: 10%;
}

#title{
    margin-left: 20px;
    font-family: YTSans;
    color: white;
}