#list, #editor, #tClose, #tDelete{
    display: none;
}
#toolbar, #header, #tools{
    display: flex;

    gap: 5px;
    width: 100%;
}
#shelflist{
    width: -webkit-fill-available;
}
#doc, #docname {
    width: 100%;
}
#doc{
    height: 50%;
}
h3{
    margin: 0;
}
input{
    margin-bottom: 5px;
}
@media screen and (max-width: 600px){
    #shelflist{
        font-size: 20px;
    }
    h3{
        font-size: 22px;
    }
    #toolbar{
        flex-wrap: wrap;
    }
    #tools{
        width: -webkit-fill-available;
        display: flex;
        justify-content: space-evenly;
    }
    #tools button{
        width: -webkit-fill-available;
        font-size: 18px;
    }
    p{
        font-size: 20px;

    }
    #doc, #docname {
        font-size: 20px;
    }
    
}